
{% load staticfiles %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static "main.css" %}">

</head>
<body>
	<div id="entire">
		<div id="top">
			<div class="left" style="background-color: #5CCCCC">
				<div id="left-title">
					LEARN
				</div>
				<div class="courses"></div>
				<div class="courses">
					COMP 202
				</div>
				<div class="courses">
					COMP 206
				</div>
				<div class="courses">
					COMP 273
				</div>
				<div class="courses">
					COMP 302
				</div>
				<div class="courses">
					COMP 303
				</div>
				<div class="courses">
					COMP 353
				</div>
				<div class="courses">
					COMP 202
				</div>
				<div class="courses">
					COMP 206
				</div>
				<div class="courses">
					COMP 273
				</div>
				<div class="courses">
					COMP 302
				</div>
				<div class="courses">
					COMP 303
				</div>
				<div class="courses">
					COMP 353
				</div>
			</div>
			<div class="middle" style="background-color: #009999;display:none">
				
			</div>
			<div class="right" style="background-color: #35C0CD">
				<div id="right-title">
					HELP
				</div>
				<div class="courses"></div>
				<div class="courses">
					COMP 202
				</div>
				<div class="courses">
					COMP 206
				</div>
				<div class="courses">
					COMP 273
				</div>
				<div class="courses">
					COMP 302
				</div>
				<div class="courses">
					COMP 303
				</div>
				<div class="courses">
					COMP 353
				</div>
				<div class="courses">
					COMP 202
				</div>
				<div class="courses">
					COMP 206
				</div>
				<div class="courses">
					COMP 273
				</div>
				<div class="courses">
					COMP 302
				</div>
				<div class="courses">
					COMP 303
				</div>
				<div class="courses">
					COMP 353
				</div>
			</div>
		</div>


		<div id="bottom">
			<div class="user">
					Kai&nbsp;Wang
				</div><div class="user">
					Morgane&nbsp;CF
				</div><div class="user">
					Vasu&nbsp;Nadella
				</div><div class="user">
					Tyler&nbsp;Finethy
				</div><div class="user">
					Christelle&nbsp;Shelah
				</div><div class="user">
					Benesh&nbsp;Yasmine
				</div><div class="user">
					Sheila&nbsp;Siôr
				</div><div class="user">
					Ssanyu&nbsp;Griselda
				</div><div class="user">
					Aeneas&nbsp;Eadgyð
				</div><div class="user">
					Valérie&nbsp;Diodorus
				</div><div class="user">
					Domitianus&nbsp;Teresa
				</div><div class="user">
					Poseidon&nbsp;Teresa
				</div>
		</div>
	</div>


	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
</body>

</html>